openapi: 3.0.3
info:
  title: Core Auditor Agent API
  description: |
    WCAG 2.1 AA accessibility scanning API for the AccessAgents platform.
    This API is exposed as an Amazon Bedrock Action Group for AI orchestration.
    
    The Auditor provides three main capabilities:
    - **ScanURL**: Full page accessibility scan
    - **VerifyElement**: Element-level verification after fixes
    - **GetPageStructure**: DOM outline for selector fuzzy-matching
  version: 1.0.0
  contact:
    name: AccessAgents Team

servers:
  - url: https://api.accessagents.io/v1
    description: Production server

paths:
  /scan:
    post:
      operationId: ScanURL
      summary: Scan a URL for accessibility violations
      description: |
        Navigates to the specified URL and runs axe-core WCAG 2.1 AA analysis.
        Returns violations sorted by impact level with pagination support.
        
        Requirements: 9.1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanURLRequest'
      responses:
        '200':
          description: Successful scan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanURLResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /verify:
    post:
      operationId: VerifyElement
      summary: Verify a specific element for accessibility compliance
      description: |
        Runs axe-core checks scoped to a specific element and rule.
        Used to verify fixes after remediation.
        
        Requirements: 9.2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyElementRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyElementResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Element not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /structure:
    post:
      operationId: GetPageStructure
      summary: Get page structure for selector fuzzy-matching
      description: |
        Returns a lightweight DOM outline including interactive elements,
        landmarks, and headings. Used when the AI needs to find elements
        without exact selectors.
        
        Requirements: 9.3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPageStructureRequest'
      responses:
        '200':
          description: Page structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPageStructureResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    # Request Schemas
    ScanURLRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The URL to scan for accessibility violations
          example: https://example.com
        viewport:
          $ref: '#/components/schemas/Viewport'
        page:
          type: integer
          minimum: 1
          default: 1
          description: Page number for paginated results

    VerifyElementRequest:
      type: object
      required:
        - url
        - selector
        - ruleId
      properties:
        url:
          type: string
          format: uri
          description: The URL containing the element to verify
          example: https://example.com
        selector:
          type: string
          minLength: 1
          description: CSS selector for the element to verify
          example: "#submit-button"
        ruleId:
          type: string
          minLength: 1
          description: axe-core rule ID to check
          example: button-name

    GetPageStructureRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The URL to analyze
          example: https://example.com
        viewport:
          $ref: '#/components/schemas/Viewport'

    # Response Schemas
    ScanURLResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/ScanResult'

    VerifyElementResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/VerifyResult'

    GetPageStructureResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/PageStructure'

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          $ref: '#/components/schemas/AuditorError'

    # Core Data Models
    ScanResult:
      type: object
      required:
        - schemaVersion
        - metadata
        - violations
        - pagination
      properties:
        schemaVersion:
          type: string
          enum: ['1.0.0']
          description: Schema version for forward compatibility
        metadata:
          $ref: '#/components/schemas/ScanMetadata'
        violations:
          type: array
          items:
            $ref: '#/components/schemas/Violation'
          maxItems: 10
          description: Violations for the current page (max 10)
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    ScanMetadata:
      type: object
      required:
        - url
        - timestamp
        - viewport
        - violationCounts
      properties:
        url:
          type: string
          format: uri
          description: The URL that was scanned
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the scan
        viewport:
          $ref: '#/components/schemas/Viewport'
        violationCounts:
          $ref: '#/components/schemas/ViolationCounts'

    ViolationCounts:
      type: object
      required:
        - critical
        - serious
        - moderate
        - minor
        - total
      properties:
        critical:
          type: integer
          minimum: 0
          description: Number of critical violations
        serious:
          type: integer
          minimum: 0
          description: Number of serious violations
        moderate:
          type: integer
          minimum: 0
          description: Number of moderate violations
        minor:
          type: integer
          minimum: 0
          description: Number of minor violations
        total:
          type: integer
          minimum: 0
          description: Total number of violations

    PaginationInfo:
      type: object
      required:
        - currentPage
        - totalPages
        - pageSize
        - hasMoreViolations
      properties:
        currentPage:
          type: integer
          minimum: 1
          description: Current page number
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages
        pageSize:
          type: integer
          minimum: 1
          default: 10
          description: Number of violations per page
        hasMoreViolations:
          type: boolean
          description: Whether there are more violations on subsequent pages

    Violation:
      type: object
      required:
        - id
        - impact
        - description
        - help
        - helpUrl
        - nodes
      properties:
        id:
          type: string
          description: axe-core rule ID
          example: button-name
        impact:
          $ref: '#/components/schemas/ImpactLevel'
        description:
          type: string
          description: Description of the accessibility issue
          example: Ensures buttons have discernible text
        help:
          type: string
          description: Short help text for the issue
          example: Button must have discernible text
        helpUrl:
          type: string
          format: uri
          description: URL to detailed documentation
          example: https://dequeuniversity.com/rules/axe/4.10/button-name
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/ViolationNode'
          minItems: 1
          description: DOM nodes affected by this violation

    ViolationNode:
      type: object
      required:
        - selector
        - html
        - failureSummary
        - target
      properties:
        selector:
          type: string
          description: CSS selector path to the element
          example: "#main > button.submit"
        html:
          type: string
          description: HTML snippet of the element
          example: <button class="submit"></button>
        failureSummary:
          type: string
          description: Summary of why the element failed
          example: "Fix any of the following: Element has no accessible name"
        target:
          type: array
          items:
            type: string
          minItems: 1
          description: Array of selector parts for complex selectors

    VerifyResult:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [pass, fail]
          description: Verification result status
        violations:
          type: array
          items:
            $ref: '#/components/schemas/Violation'
          description: Violations found (only present when status is 'fail')
        score:
          type: number
          minimum: 0
          maximum: 100
          description: Accessibility score (100 for pass, 0 for fail)

    PageStructure:
      type: object
      required:
        - interactiveElements
        - landmarks
        - headings
      properties:
        interactiveElements:
          type: array
          items:
            $ref: '#/components/schemas/ElementSummary'
          description: Interactive elements (buttons, links, inputs, etc.)
        landmarks:
          type: array
          items:
            $ref: '#/components/schemas/ElementSummary'
          description: Landmark elements (header, nav, main, etc.)
        headings:
          type: array
          items:
            $ref: '#/components/schemas/ElementSummary'
          description: Heading elements (h1-h6)

    ElementSummary:
      type: object
      required:
        - selector
        - tagName
      properties:
        selector:
          type: string
          description: CSS selector for the element
          example: "#main-nav"
        tagName:
          type: string
          description: HTML tag name
          example: nav
        role:
          type: string
          description: ARIA role (explicit or implicit)
          example: navigation
        text:
          type: string
          description: Accessible text content (truncated to 100 chars)
          example: Main Navigation

    AuditorError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/AuditorErrorCode'
        message:
          type: string
          minLength: 1
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true
          description: Additional error details
        stack:
          type: string
          description: Stack trace (only in development mode)

    # Enums
    Viewport:
      type: string
      enum: [mobile, desktop]
      default: desktop
      description: |
        Viewport configuration:
        - mobile: 375x667 pixels
        - desktop: 1920x1080 pixels

    ImpactLevel:
      type: string
      enum: [critical, serious, moderate, minor]
      description: |
        Severity of the accessibility violation:
        - critical: Most severe, blocks users
        - serious: Significant barrier
        - moderate: Some difficulty
        - minor: Minor inconvenience

    AuditorErrorCode:
      type: string
      enum:
        - BROWSER_LAUNCH_FAILED
        - BROWSER_PROVIDER_UNAVAILABLE
        - AXE_INJECTION_FAILED
        - AUTOMATION_BLOCKED
        - URL_UNREACHABLE
        - TIMEOUT
        - ELEMENT_NOT_FOUND
      description: |
        Error codes:
        - BROWSER_LAUNCH_FAILED: Headless browser failed to launch
        - BROWSER_PROVIDER_UNAVAILABLE: Browser provider connection failed
        - AXE_INJECTION_FAILED: axe-core injection failed
        - AUTOMATION_BLOCKED: Target page blocked automation
        - URL_UNREACHABLE: URL is unreachable or returned error
        - TIMEOUT: Page load exceeded 30 second timeout
        - ELEMENT_NOT_FOUND: Selector did not match any element
